html {
    background-color: #afcc90;
}

#main-title {
    text-align: center;
    font-size: 48px;
    color: #334422;
}
img {
    border-radius: 16px;
    height: 25vw;
}
li {
    font-style: italic;
}
/* Add more CSS here! */